<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <div class="layout-topbar-logo" id="logolink" style="cursor: pointer; outline: none;" routerLink="/">
                <img id="app-logo"
                     [src]="'assets/layout/images/logo_groupe_bpce_1row.png'"
                     alt="poseidon-layout">
            </div>
        </div>

        <div class="layout-topbar-right">
            <a class="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>

            <div class="layout-topbar-actions" style="margin-top: 8px">
                <h5 class="topbar-item">{{ 'title' | translate }}<span *ngIf="env != 'PRD'"> - {{ env }}</span></h5>
            </div>

            <ul class="layout-topbar-actions">

                <li #profile class="topbar-item user-profile"
                    [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <div style="display: none">
                            <p-avatar>
                            </p-avatar>
                        </div>
                        <div
                            class="profile-image p-mr-2 p-overflow-hidden p-avatar p-component p-avatar-image p-avatar-circle p-avatar-lg">
                            <img
                                src="https://annuaire.intranatixis.com/Photos/{{ authService.currentAuthTokenValue?.iup }}.jpg"
                                onerror="this.src='assets/images/user.png'"
                                style="height: inherit; !important; object-fit: cover;"
                                class="ng-star-inserted" alt="User profile picture">
                        </div>
                        <div class="profile-info">
                            <h6>{{ authService.currentAuthTokenValue?.firstName }} {{ authService.currentAuthTokenValue?.lastName }}</h6>
<!--                            <span>{{ authService.currentAuthTokenValue?.iup }}</span>-->
                            <span>{{mainProfile}}</span>
                        </div>
                    </a>

                    <ul class="fadeInDown">
                        <li class="layout-submenu-header">
                            <img
                                src="https://annuaire.intranatixis.com/Photos/{{ authService.currentAuthTokenValue?.iup }}.jpg"
                                onerror="this.src='assets/images/user.png'"
                                style="height: inherit; !important; object-fit: cover;"
                                class="ng-star-inserted" alt="User profile picture">
                            <div class="profile-info">
                                <h6>{{ authService.currentAuthTokenValue?.firstName }} {{ authService.currentAuthTokenValue?.lastName }}</h6>
                                <span>{{ authService.currentAuthTokenValue?.iup }}</span>
                            </div>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.openThemeCustomization($event)">
                                <i class="pi pi-cog"></i>
                                <h6>Theme Customization</h6>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="logout()">
                                <i class="pi pi-power-off"></i>
                                <h6>Logout</h6>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
