<div class="container">

    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col my-auto">
                    <h5 class="card-title mb-0">User Athena</h5>
                </div>
            </div>
        </div>

        <div class="card-body p-0">

            <div id="accordion">

                <app-user-athena-search-person
                    (headerClickedEmitter)="currentStep=1"
                    (personSelectedEmitter)="personSelected($event)">
                </app-user-athena-search-person>

                <app-user-athena-view #viewUser>
                </app-user-athena-view>

            </div>

        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col text-left">
                </div>
            </div>
        </div>

    </div>

</div>
